* { border:0px; padding:0; margin:0; font-weight:normal; font-size:100%; text-decoration:none; }

body { min-height:100%; }

.sharp  { background:url('../img/background3.jpg') fixed; background-size: cover; }
.blured { background:url('../img/background-blured3.jpg') fixed; background-size: cover; }
.round  { border-radius: 4px; -webkit-border-radius: 4px; }

.table   { display: table; }
.row     { display: table-row; }
.cell    { display: table-cell; }
.vcenter { vertical-align: middle; }

.clear { clear:both; }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

h1 { font-size: 150%; }

/* PAGE ***********************************************************************/
#site-header {
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

#site-header > div {
	background: rgba(0,0,0,0.0);
	color: #000;
}

#site-header .left, #site-header .right {
	width:10%;
}

#site-header .cell {
	vertical-align: middle;
}

#site-header .left a {
	display:inline-block;
}

#site-header .left a img {
	vertical-align:bottom;
}

#site-header .center {
	text-align:center;
	width:80%;
}
#site-header h1 {
	display: block;
	padding: 0.2em;
	color:#fff;
	text-shadow: 0 0 2px #000;
	letter-spacing: 0.1em;
}

#site-header .right {
	text-align: center;
}

#site-header .right a {
	display: block;
	line-height:64px;
	min-height:64px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	letter-spacing: 0.06em;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#site-header .right a:hover {
	background: rgba(255,255,255,0.2);
}